contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
graphviz==0.20.3
html5lib==1.1
isodate==0.6.1
kiwisolver==1.4.5
numpy==2.0.0
owlrl==6.0.2
packaging==24.1
pillow==10.4.0
prettytable==3.10.0
pydotplus==2.0.2
pyparsing==3.1.2
pyshacl==0.26.0
python-dateutil==2.9.0.post0
rdflib==7.0.0
six==1.16.0
wcwidth==0.2.13
webencodings==0.5.1
